*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
}

/* .navbar{
   width: 100%;
   position: relative;
   position: sticky;
   top:0;
   height: 71px;
   z-index: 1;
   background-color: rgb(33, 37, 177);
}
.navbar ul{
   position: absolute;
   top:20px;
   right: 42px;

}
.navbar ul li{
   list-style-type: none;
   margin-inline: 14px;
   display: inline-block;

}
.navbar ul li a{
   color: white;
   text-decoration: none;
   font-size: 20px;
}
.navbar div{
   font-size: 40px;
   position: absolute;
   top: 11px;
   left: 97px;
   color: white;
   font-weight: bold;

}
.navbar span{
   position: absolute;
   top: 7px;
   left: 53px;
}
.mybtn{
   background-color: transparent;
   border: 10px;
   font-size: 30px;
   cursor: pointer;
   margin-left: 32px;
   float: right;
   line-height: 70px;
   display: none;
   color: white;
} */








     
nav {
   background-color: rgb(33, 37, 177);
   width: 100%;
   height: 80px;

   position: sticky;
   top:0;
   height: 71px;
   z-index: 1;


}

.logo {
   color: white;
   line-height: 70px;
   font-size: 30px;
   font-weight: 800;
}

nav ul {
   float: right;
   margin-top: 15px;
}

nav ul li {
   display: inline-block;
   /* font-size: 2em; */
   font-size: 1.5em;
   line-height: 43px;
   margin: 0 5px;
}

a {
   color: white;
}

#check {
   display: none;
}

.bar {
   font-size: 30px;
   float: right;
   color: white;
   line-height: 70px;
   display: none;
   cursor: pointer;
   margin-left: 10px;
   margin-right: 20px;
}

@media(max-width:800px) {
   .logo {
       font-size: 20px;
   }

   .bar {
       display: block;
   }

   .navul{
       position: fixed;
       width: 100%;
       height: 40vh;
       background-color: white;
       color: white;
       top: 70px;
       left: -100%;
       transition: all 2s;
       display: flex;
       flex-direction: column;
       text-align: center;
       font-size: 10px;
       margin-top: 0px;


    
   }
   a{
      color: black;
   }

   ul li {
       display: block;
   }

   #check:checked~ul {
       left: 0;
   }
} 




 .section1{
    background-color: rgb(33, 37, 177);  
    height: 282px; 
  }
  .section1 div{
     font-size: 40px;
     font-weight: bold;
     color: white;
     padding-top: 80px;
 
  }
  .section1 ul{
     list-style-type: none;
     margin-top: 20px;
 
  }
  .section1 ul li{
     display: inline-block;
     margin-inline: 12px;
     color: white;
     font-family: 'Rubik', sans-serif;
 
  }









  .sec2h1{
    margin-top: 11px;
    font-size: 33px;
  }
  .sec2form{
    margin-top: 30px;
    /* margin-left: 340px; */
    text-align: center;
  }
  .sec2form button{
    color: white;
    background-color: rgb(33, 37, 177);
    text-align: center;
    font-weight: bold;
    width: 600px;
    height: 65px;
    border-radius: 15px;
    font-size: 17px;
  }
  .sec2forminp{
    width: 300px;
    height: 65px;
    border-radius: 15px;
    padding-left: 10px;
    border: 1px solid black;
  }
  .sec2forminp3{
    width: 600px;
    height: 65px;
    border-radius: 15px;
    padding-left: 10px;
    border: 1px solid black;
  }







  .section3 iframe{
    border: 2px solid black;
    margin-top: 50px;
  }







  .section8{
   margin-top: 100px;
   background-color: rgb(33, 36, 177);
   /* height: 460px; */
   height: auto;
   padding-top: 70px;

}
.sec8maindiv{
   margin-left: 45px;
   display: flex;
}

.sec8box1{
   width: 360px;
   padding: 30px;
   color: white;
}
.sec8ul1{
   margin-top: 13px;
}
 
.sec8ul1 li{
   list-style-type: none;
   font-weight: bold;
   font-size: 18px;
   margin-top: 22px;

}
.sec8icon{
   background-color: #2124b1;
   border-radius: 50%;
   font-size: 20px;
   color: white;
   padding: 12px;
   margin-top: 29px;
}

 

.sec8icon:hover{
   background-color: white;
   color: #2124b1;
}
/* .sec8ul2{
   display: inline-flex;
   margin-top: 50px;


}

.sec8ul2 div{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: white;

}






.sec8ul2 li{
   list-style-type: none;
   margin-inline: 5px;


}
 */


.sec8box2{
   width: 244px;
   padding: 30px;
   color: white;
}

.sec8box2 ul{
   margin-top: 20px;
   list-style-type: none;
}
.sec8box2 ul li{
   margin-top: 20px;
   font-weight: bold;
   font-size: 18px;
}


.sec8box3{
   width: 255px;
   padding: 30px;
   color: white;

}




.sec8grid{
   display: grid;
   grid-template-columns: 70px 70px 70px;
   grid-template-rows: 70px 70px;
   column-gap: 5px;
   row-gap: 5px;
   margin-top: 40px;
}


.sec8box4{
   width: 289px;
   padding: 30px;
   padding-left: 47px;
   color: white;


}
.sec8box4 p{
   margin-top: 25px;
   line-height: 25px;
   font-weight: bold;
   font-size: 15px;
}
.sec8box4 input{
   width: 200px;
   height: 45px;
   border-radius: 20px;
   margin-top: 30px;
   padding-left: 14px;
}

.section8 h3{
   color: white;
   text-align: center;
   margin-top: 43px;
}

.sec8box5{
   /* position: relative; */
   display: flex;
   border-top: 0.5px solid white ;
   margin: auto;
   width: 90%;
   padding: 30px;
   
}
.sec8box5a{
   /* position: absolute; */
    top: 25px;
   color: white;
   font-family: 'Merriweather', serif;
   font-size: 13px;

}
.sec8box5 ul{
    list-style-type: none;
   margin-left: 400px;
   
   
   



}
.sec8box5 ul li{
    display: inline-block;
   color: white;
   margin-inline: 10px;
     
}







@media(min-width:760px) and (max-width:1100px){
   .navbar{
      width: 100%;
   }
   .section1{
      width: 100%;
   }
    
   
   .sec8maindiv{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .sec8box5{
      display: flex;
      flex-direction: column;
      text-align: center;
      
  }
  .sec8box5ul{
     margin-top: 20px;
     display: inline;
     margin-left: -383px;
     
       
  }
  
}


@media(max-width:760px) { 
   .mybtn{
       display: block;
   }
   .navbar ul{
       display: none;
   }
   .sec2form{
      padding: 50px;
   }
   .sec2form button{
      width: 100%;
      justify-content: space-between;
     
   }
   .sec2forminp{
      width: 100%;
      justify-content: space-between;
      
   }
   .sec2forminp3{
      width: 100%;
      justify-content: space-between;

     
   }
   .textareaform{
      width: 100%;
      justify-content: space-between;
     
   }


   
}

@media(min-width:425px) and (max-width:760px){
   .sec8maindiv{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .sec8box5{
      display: flex;
      flex-direction: column;
      text-align: center;
      
  }
  .sec8box5ul{
      margin-top: 20px;
      display: inline;
      margin-left: -383px;
      
       }



}


@media(max-width:425px){
.sec8maindiv{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.sec8box5{
   display: flex;
   flex-direction: column;
   text-align: center;
   
}
.sec8box5ul{
   margin-top: 20px;
   display: inline;
   margin-left: -383px;
   
    }
   }

 
   /* .sec2form button
   .sec2forminp
   .sec2forminp3
   */




