*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;

    
}
.body{
    overflow-x: hidden;
}









.maindiv2{
    display: flex;

}
 /* .navbar{
    width: 100%;
    position: relative;
    position: sticky;
    top:0;
    height: 71px;
    z-index: 1;
    background-color: rgb(33, 37, 177);
 }
 .navbar ul{
    position: absolute;
    top:20px;
    right: 42px;

 }
 .navbar ul li{
    list-style-type: none;
    margin-inline: 14px;
    display: inline-block;

 }
 .navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
 }
 .navbar div{
    font-size: 40px;
    position: absolute;
    top: 11px;
    left: 97px;
    color: white;
    font-weight: bold;

 }
 .navbar span{
    position: absolute;
    top: 7px;
    left: 53px;
 }
 .mybtn{
    background-color: transparent;
    border: 10px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 32px;
    float: right;
    line-height: 70px;
    display: none;
    color: white;
 }  */








 nav {
    background-color: rgb(33, 37, 177);
    width: 100%;
    height: 80px;

    position: sticky;
    top:0;
    height: 71px;
    z-index: 1;


}

.logo {
    color: white;
    line-height: 70px;
    font-size: 30px;
    font-weight: 800;
}

nav ul {
    float: right;
    margin-top: 15px;
}

nav ul li {
    display: inline-block;
    /* font-size: 2em; */
    font-size: 1.5em;
    line-height: 43px;
    margin: 0 5px;
}

a {
    color: white;
}
#check {
    display: none;
}

.bar {
    font-size: 30px;
    float: right;
    color: white;
    /* color: black; */
    line-height: 70px;
    display: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
}

@media(max-width:800px) {
    .logo {
        font-size: 20px;
    }

    .bar {
        display: block;
    }

    .navul{
        position: fixed;
        width: 100%;
        height: 40vh;
        /* background-color: black; */
        color: white;
        background-color: white;
        top: 70px;
        left: -100%;
        transition: all 2s;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 10px;
        margin-top: 0px;


     
    }
    a{
        color: black;
    }

    ul li {
        display: block;
    }

    #check:checked~ul {
        left: 0;
    }
 } 




  
     







        




.section1{
    background-color: rgb(33, 36, 177);
    /* height: 100vh; */
    height: auto;
    width: 100%;   
    
}
.maindiv2{
    margin-left: 100px;
    padding-top: 125px;
}
.submaindiv2a{
    margin-left: 100px;
}
.submaindiv2 h1 {
    font-size: 30px ;
    font-weight: bold;
    color: white;
    font-family: 'Heebo', sans-serif;


}
.submaindiv2 p{
    color: white;
    line-height: 18px;
    margin-top: 20px;
    /* font-family: 'Heebo', sans-serif; */
}
.submaindiv2 button{
    margin-inline: 26px;
    border-radius: 30px;
    padding: 20px;
    width: 124px;
    color: white;
    font-weight: bold;
    background-color: rgb(33, 36, 177);
    border: 1px solid white;
    margin-top: 20px;
    margin-left: -5px;

}
.submaindiv2 button:hover{
    background-color: white;
    color: black;
}
 





.sec2submaindiv1{
    display: flex;
    margin-top: 20px;
    margin-left: -86px;
    justify-content: space-evenly;

}
.section2{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;

    width: 82%;

}
.sec2maindiv1a{
    margin-left: 150px;
}
.sec2maindiv1 h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    font-family: 'Heebo', sans-serif;
    line-height: 30px;

}

.sec2maindiv1 p{
    margin-top: 30px;
    line-height: 25px;
}
  .sec2button{
    background-color: rgb(33, 36, 177);
    border-radius: 35px;
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    width: 117px;
    height: 39px;
    color: white;

}
.sec2submaindiv1a{
    display: flex;
    margin-top: 30px;
}
.sec2submaindiv1a ul{
    display: flex;
    

}
.sec2submaindiv1a ul li{
    margin-inline: 10px;
    border: 1px solid black;
    border-radius: 50%;
    list-style-type: none;
    padding: 8px;
    height: 40px;
   


}
.sec2submaindiv1a ul li:hover{
    background-color: rgb(33, 36, 177);

}
.sec2submaindiv1a ul li i{
    margin-top: 2px;
}
:hover .sec2icon{
    background: white;
}









.section3{
    display: flex;
    width: 100%;
    height: 250px;
    background-color: rgb(33, 36, 177);
    margin-top: 80px;
    position: relative;
}
.sec3maindiv1{
    margin-top: 40px;
    margin-left: 87px;
}
.sec3maindiv1 h1{
    color: white;
    font-weight: bold;
    font-size: 30px;

}
.sec3maindiv1 p{
    margin-top: 15px;
    color: white;
}
.sec3maindiv1 input{
    margin-top: 15px;
    border-radius: 35px;
    width: 468px;
    padding: 20px;
    padding-left: 21px;
    height: 0px;
    margin-left: -20px;
}


.sec3maindiv2 img{
    position: absolute;
    top: 63px;
    right: 147px;
}







.section4{
    margin-top: 200px;
    
}
.section4 h1{
    margin-top: 20px;
}

.sec4maindiv1{
    display: flex;
    column-gap: 25px;
    margin-top: 50px;
    justify-content: center;

}
.sec4maindiv2{
    display: flex;
    column-gap: 25px;
    justify-content: center;
    margin-top: 25px;
}


.sec4submaindiv{
    border: 1px solid black;
    text-align: center;
    box-shadow: -1px 2px 22px 3px;
    width: 300px;
    height: 300px;
}
.sec4submaindiv:hover{
    background-color:  rgb(33, 36, 177);
    color: white;
}




.sec4submaindiv h1{
    margin-top: 31px;

}
.sec4submaindiv p{
    margin-top: 23px;

}
.sec4submaindiv button{
    margin-top:20px;
    color: blue;
    border-radius: 15px;
    height: 31px;
    width: 95px;
    font-weight: bold;
    

}








.section5{
    margin-top: 100px;
    

}
.section5 h1{
    margin-top: 20px;
}
.section5 ul {
    display: flex;
     font-size: 20px;
    justify-content: center;
    margin-top: 20px;

}
.section5 ul li{
    margin-inline: 23px;
    list-style-type: none;
    

}
 
.sec5maindiv1{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    column-gap: 25px;

}
.sec5maindiv2{
    display: flex;
    margin-top: 25px;
    justify-content: center;
    column-gap: 25px;
}

.sec5box1{
    background: url(/image/portfolio-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 350px;
    height: 350px;


}
.sec5box1img{
    margin-left: 250px;
    margin-top: 25px;
    background-color: white;
    transform: scale(0);
    /* border-radius: 50%; */
}

.sec5box1p{
    margin-top: 173px;
    margin-left: 36px;
    transform: scale(0);
    color: white;
    
}
.sec5box1h3{
    margin-left: 36px;
    color: white;
    transform: scale(0);

}
.sec5box1:hover .sec5box1img{
    transform: scale(1);
}
 .sec5box1:hover{
    background: rgb(33, 36, 177); 
}
  .sec5box1:hover .sec5box1p{
     transform: scale(1);
    
    }

.sec5box1:hover .sec5box1h3{
  transform: scale(1);
 } 
  
 
.sec5box2{
    background: url(/image/portfolio-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 350px;
    height: 350px;
}
.sec5box1img2{
    margin-left: 250px;
    margin-top: 25px;
    background-color: white;
    transform: scale(0);
    /* border-radius: 50%; */
}
.sec5box2:hover{
    background:  rgb(33, 36, 177) ;

}
.sec5box2:hover .sec5box1img2{
    transform: scale(1);
   } 
.sec5box2p{
    margin-top: 173px;
    margin-left: 36px;
    transform: scale(0);
    color: white;
}
.sec5box2h3{
    margin-left: 36px;
    color: white;
    transform: scale(0);
}
 .sec5box2:hover{
    background: rgb(33, 36, 177); 
}
  .sec5box2:hover .sec5box2p{
     transform: scale(1);
    
    }

.sec5box2:hover .sec5box2h3{
  transform: scale(1);
 } 
  
 


.sec5box3{
    background: url(/image/portfolio-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 350px;
    height: 350px;
}
.sec5box3:hover{
    background:  rgb(33, 36, 177) ;

}
.sec5box1img3{
    margin-left: 250px;
    margin-top: 25px;
    background-color: white;
    transform: scale(0);
    /* border-radius: 50%; */
}
.sec5box3:hover .sec5box1img3{
    transform: scale(1);
   } 
.sec5box3p{
    margin-top: 173px;
    margin-left: 36px;
    transform: scale(0);
    color: white;
}
.sec5box3h3{
    margin-left: 36px;
    color: white;
    transform: scale(0);
}
 .sec5box:hover{
    background: rgb(33, 36, 177); 
}
  .sec5box3:hover .sec5box3p{
     transform: scale(1);
    
    }

.sec5box3:hover .sec5box3h3{
  transform: scale(1);
 } 
  
 


.sec5box4{
    background: url(/image/portfolio-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 350px;
    height: 350px;
}
.sec5box1img4{
    margin-left: 250px;
    margin-top: 25px;
    background-color: white;
    transform: scale(0);
    /* border-radius: 50%; */
}
.sec5box4:hover .sec5box1img4{
    transform: scale(1);
   } 
.sec5box4p{
    margin-top: 173px;
    margin-left: 36px;
    transform: scale(0);
    color: white;
}
.sec5box4h3{
    margin-left: 36px;
    color: white;
    transform: scale(0);
}
 .sec5box4:hover{
    background: rgb(33, 36, 177); 
}
  .sec5box4:hover .sec5box4p{
     transform: scale(1);
    
    }

.sec5box4:hover .sec5box4h3{
  transform: scale(1);
 } 
  
  


.sec5box5{
    background: url(/image/portfolio-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 350px;
    height: 350px;
}
.sec5box5p{
    margin-top: 173px;
    margin-left: 36px;
    transform: scale(0);
    color: white;
}
.sec5box1img5{
    margin-left: 250px;
    margin-top: 25px;
    background-color: white;
    transform: scale(0);
    /* border-radius: 50%; */
}
.sec5box5:hover .sec5box1img5{
    transform: scale(1);
   } 
.sec5box5h3{
    margin-left: 36px;
    color: white;
    transform: scale(0);
}
 .sec5box5:hover{
    background: rgb(33, 36, 177); 
}
  .sec5box5:hover .sec5box5p{
     transform: scale(1);
    
    }

.sec5box5:hover .sec5box5h3{
  transform: scale(1);
 } 
  
  


.sec5box6{
    background: url(/image/portfolio-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 350px;
    height: 350px;
}

.sec5box1img6{
    margin-left: 250px;
    margin-top: 25px;
    background-color: white;
    transform: scale(0);
    /* border-radius: 50%; */
}
.sec5box6:hover .sec5box1img6{
    transform: scale(1);
   } 

.sec5box6p{
    margin-top: 173px;
    margin-left: 36px;
    transform: scale(0);
    color: white;
}
.sec5box6h3{
    margin-left: 36px;
    color: white;
    transform: scale(0);
}
 .sec5box6:hover{
    background: rgb(33, 36, 177); 
}
  .sec5box6:hover .sec5box6p{
     transform: scale(1);
    
    }

.sec5box6:hover .sec5box6h3{
  transform: scale(1);
 } 
  
 












 .section6{
  
 background-color:  rgb(33, 36, 177);
 width: 100%; 
 /* height: 450px; */
 height: auto;
 margin-top: 114px;



 }


 .section6flex{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    padding: 120px;

 }



 .sec6box1{
    border: 1px solid white;
    padding: 25px;
    width: 323px;
    height: 270px;
    text-align: justify;
    border-radius: 14px;

 }
 
 

 .sec6box1p{
    color: white;
    font-family: 'Ubuntu', sans-serif;
 }

 .sec6box1:hover{
    background-color: white;
    color: black;
 }
 .sec6box1:hover .sec6box1p{
    color: black;
 }
 .sec6box1:hover .sec6box1ah4{
    color: black;
 }
 .sec6box1:hover .sec6box1adiv{
    color: black;
 }
 .sec6box1:hover .bx{
    background-color: #2124b1;
 }

 



 .sec6box2p{
    /* color: white; */
    /* background-color: white; */
    /* color: black; */
    font-family: 'Ubuntu', sans-serif;
 }
 /* .sec6box2:hover{
    background-color: white;
    color: black;
 }
 .sec6box2:hover .sec6box2p{
    color: black;
 }
 .sec6box2:hover .sec6box2ah4{
    color: black;
 }
 .sec6box2:hover .sec6box2adiv{
    color: black;
 }
 .sec6box2:hover .bx{
    background-color: #2124b1;
 } */








 .sec6box3p{
    color: white;
    font-family: 'Ubuntu', sans-serif;
 }

 .sec6box2{
    border: 1px solid white;
    padding: 25px;
    width: 323px;
    height: 270px;
    text-align: justify;
    border-radius: 14px;
    background-color: white;
    color: black;
 }
 
 .sec6box3{
    border: 1px solid white;
    padding: 25px;
    width: 323px;
    height: 270px;
    text-align: justify;
    border-radius: 14px;
 }
 .sec6box3:hover{
    background-color: white;
    color: black;
 }
 .sec6box3:hover .sec6box3p{
    color: black;
 }
 .sec6box3:hover .sec6box3ah4{
    color: black;
 }
 .sec6box3:hover .sec6box3adiv{
    color: black;
 }
 .sec6box3:hover .bx{
    background-color: #2124b1;
 }






 .sec6box1a{
    display: flex;
    margin-top: 20px;
 }
 .sec6box1a div{
    margin-left: 20px;
 }
 .sec6box1a img{
    border-radius: 36px;
 }
 .sec6box1a div{
    color: white;
 }


  

 .section7{
    width: 100%;
    height: auto;
    margin-top: 85px;
  }
  .sec7maindiv{
    display: flex;
    column-gap: 70px;
    justify-content: center;
    margin-top: 100px;
    
  }
  .sec7box1{
    width: 300px;
    height: 400px;
     box-shadow: -6px 10px 17px 8px;
     position: relative;
    

  }
  .sec7box1 p{
    margin-top: -3px;
    margin-left: 22px;
  }
  .sec7box1:hover{
    background-color: #2124b1;
    color: white;
  }
  .sec7box2{
    width: 300px;
    height: 400px;
     box-shadow: -6px 10px 17px 8px;
     position: relative;
    

  }
   .sec7box2 p{
    margin-top: -3px;
    margin-left: 22px;
  }
  .sec7box2:hover{
    background-color: #2124b1;
    color: white;
  }
  .sec7box3{
    width: 300px;
    height: 400px;
     box-shadow: -6px 10px 17px 8px;
     position: relative;
    

  }
  .sec7box3 p{
    margin-top: -3px;
    margin-left: 22px;
  }
  .sec7box3:hover{
    background-color: #2124b1;
    color: white;
  }
  .sec7box1 img{
    width: 300px;
    height: 400px;
    margin-left: 70px;
    margin-top: -50px;
    

  }
 
  .sec7box2 img{
    width: 300px;
    height: 400px;
    margin-left: 70px;
    margin-top: -50px;
    

  }
  .sec7box3 img{
    width: 300px;
    height: 400px;
    margin-left: 70px;
    margin-top: -50px;
    

  }
  .sec7box1icon{
    position: absolute;
    top: 36px;
    left: 20px;
  }
  .sec7box1icon div{
    border-radius: 50%;
    background-color: white;
    padding: 1px 9px;
  }
  .bx{
    display: block;
    margin-block: 10px;
    font-size: 25px;
  }









 .section8{
    margin-top: 100px;
    background-color: rgb(33, 36, 177);
    /* height: 460px; */
    height: auto;
    padding-top: 70px;
 
 }
 .sec8maindiv{
    margin-left: 45px;
    display: flex;
 }
 
 .sec8box1{
    width: 360px;
    padding: 30px;
    color: white;
 }
 .sec8ul1{
    margin-top: 13px;
 }
  
 .sec8ul1 li{
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
    /* margin-top: 22px; */
 
 }
 .sec8icon{
    background-color: #2124b1;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    padding: 12px;
    margin-top: 29px;
 }

  

 .sec8icon:hover{
    background-color: white;
    color: #2124b1;
 }
 /* .sec8ul2{
    display: inline-flex;
    margin-top: 50px;

 
 }

 .sec8ul2 div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
 
 }


 
 
 
 
 .sec8ul2 li{
    list-style-type: none;
    margin-inline: 5px;
 
 
 }
  */
 
 
 .sec8box2{
    width: 244px;
    padding: 30px;
    color: white;
 }
 
 .sec8box2 ul{
    margin-top: 20px;
    list-style-type: none;
 }
 .sec8box2 ul li{
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
 }
 
 
 .sec8box3{
    width: 255px;
    padding: 30px;
    color: white;
 
 }
 
 
 
 
 .sec8grid{
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px;
    column-gap: 5px;
    row-gap: 5px;
    margin-top: 40px;
 }
 
 
 .sec8box4{
    width: 289px;
    padding: 30px;
    padding-left: 47px;
    color: white;
 
 
 }
 .sec8box4 p{
    margin-top: 25px;
    line-height: 25px;
    font-weight: bold;
    font-size: 15px;
 }
 .sec8box4 input{
    width: 200px;
    height: 45px;
    border-radius: 20px;
    margin-top: 30px;
    padding-left: 14px;
 }
 
 .section8 h3{
    color: white;
    text-align: center;
    margin-top: 43px;
 }
 
 .sec8box5{
    /* position: relative; */
    display: flex;
    border-top: 0.5px solid white ;
    margin: auto;
    width: 90%;
    padding: 30px;
    
 }
 .sec8box5a{
    /* position: absolute; */
     top: 25px;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 13px;
 
 }
 .sec8box5 ul{
     list-style-type: none;
    margin-left: 400px;
    
    
    

 
 
 }
 .sec8box5 ul li{
     display: inline-block;
    color: white;
    margin-inline: 10px;
      
 }








  













/* media query */
 




@media(min-width:760px) and (max-width:1100px){
    *{
        margin: 0;
        padding: 0;
    }
    .navbar{

        width: 100%;

    }
    .section1{
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }
    .maindiv2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
     .heroimage{
        margin-left: -113px;
        margin-top: 80px;
    }
    .section2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .aboutimg{
        margin-left: -222px;
        margin-top: 48px;
    }
    .sec2submaindiv1{
        text-align: center;
        justify-content: center;
    }
    .sec2submaindiv1a{
        justify-content: center;
    }
    .section3{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .newsletter{
        display: none;
  
      }
       .sec4maindiv1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec4maindiv2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec5maindiv1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec5divlist{
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .ulsec5{
        justify-content: center;
        margin-top: 20px;
    }
    .sec5maindiv2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .section6flex{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec7maindiv{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 100px;
    }
    .sec8maindiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sec8box5{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .sec8box5ul{
       margin-top: 20px;
       display: inline;
       margin-left: -383px;
       
         
    }
    
}
@media(max-width:760px) { 
    .mybtn{
        display: block;
    }
    .navbar ul{
        display: none;
    }
}

@media(min-width:425px) and (max-width:760px){
    
    *{
        margin: 0;
        padding: 0;
    } 
    
    .navbar{
        width: 100%;
    }
    .section1{
        /* display: block; */

       
    }
    .maindiv2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .heroimage{
        margin-left: -213px;
        margin-top: 52px;
        width: 300px;
    }
    .section2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .aboutimg{
        margin-left: -222px;
        margin-top: 48px;
        width: 350px;
    }
    .sec2submaindiv1{
        text-align: center;
        justify-content: center;
    }

    .sec2submaindiv1a{
        justify-content: center;
    }
    .section3{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .newsletter{
      display: none;

    }
    .sec4maindiv1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec4maindiv2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec5maindiv1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec5divlist{
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .ulsec5{
        justify-content: center;
        margin-top: 20px;
    }
    .sec5maindiv2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec5box1{
        width: 200px;
        height: 200px;
    }
    .sec5box1img{
        margin-left: 130px;
        width: 50px;
        background-color: white;
        transform: scale(0);
    }
    .sec5box1:hover .sec5box1img{
        transform: scale(1);
    }

    .sec5box1p{
        margin-top: 50px;
    }
    .sec5box2 {
        width: 200px;
        height: 200px;
    }
    
    .sec5box1img2{
        margin-left: 130px;
        width: 50px;
        background-color: white;
        transform: scale(0);
    }
    .sec5box2:hover .sec5box1img2{
        transform: scale(1);
    }

    .sec5box2p{
        margin-top: 50px;
    }
    .sec5box3 {
        width: 200px;
        height: 200px;
    }

    .sec5box1img3{
        margin-left: 130px;
        width: 50px;
        background-color: white;
        transform: scale(0);
    }
    .sec5box3:hover .sec5box1img3{
        transform: scale(1);
    }

    .sec5box3p{
        margin-top: 50px;
    }


    .sec5box4 {
        width: 200px;
        height: 200px;
    } 
    .sec5box1img4{
        margin-left: 130px;
        width: 50px;
        background-color: white;
        transform: scale(0);
    }
    .sec5box4:hover .sec5box1img4{
        transform: scale(1);
    }

    .sec5box4p{
        margin-top: 50px;
    }
    
    .sec5box5 {
        width: 200px;
        height: 200px;
    }  
    .sec5box1img5{
        margin-left: 130px;
        width: 50px;
        background-color: white;
        transform: scale(0);
    }
    .sec5box5:hover .sec5box1img5{
        transform: scale(1);
    }

    .sec5box5p{
        margin-top: 50px;
    }
    .sec5box6 {
        width: 200px;
        height: 200px;
    }
    .sec5box1img6{
        margin-left: 130px;
        width: 50px;
        background-color: white;
        transform: scale(0);
    }
    .sec5box6:hover .sec5box1img6{
        transform: scale(1);
    }

    .sec5box6p{
        margin-top: 50px;
    }

    .section6flex{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec7maindiv{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 100px;
    }
    .sec8maindiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sec8box5{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .sec8box5ul{
        margin-top: 20px;
        display: inline;
        margin-left: -383px;
        
         }



         .submaindiv2 h1 {
            font-size: 30px;
            text-align: center;
            font-weight: bold;
        
         }
         .submaindiv2{
            margin-left: -80px;

         }
         .sec6box1{
            height: auto;
            width: auto;
         }
         .sec6box2{
            height: auto;
            width: auto;
         }
         .sec6box3{
            height: auto;
            width: auto;
         }
         .sec3maindiv1 input{
            width: auto;
         }


}





@media(max-width:425px) {

    *{
        margin: 0%;
        padding: 0%;
        
        

    }

    .navbar{
        width: 100%;
    }
    
    .section1{
        /* display: block; */

       
    }
    .maindiv2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .heroimage{
        margin-left: -213px;
        margin-top: 52px;
        width: 250px;
    }
    .section2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .aboutimg{
        margin-left: -222px;
        margin-top: 48px;
        width: 250px;
    }
    .sec2submaindiv1{
        text-align: center;
        justify-content: center;
    }

    .sec2submaindiv1a{
        justify-content: center;
    }
    .section3{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .newsletter{
      display: none;

    }
    .sec4maindiv1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec4maindiv2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec5maindiv1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec5divlist{
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .ulsec5{
        justify-content: center;
        margin-top: 20px;
    }
    .sec5maindiv2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec5box1{
        width: 200px;
        height: 200px;
    }
    .sec5box1img{
        margin-left: 130px;
        width: 50px;
        background-color: white;
        transform: scale(0);
    }
    .sec5box1:hover .sec5box1img{
        transform: scale(1);
    }

    .sec5box1p{
        margin-top: 50px;
    }
    .sec5box2 {
        width: 200px;
        height: 200px;
    }
    
    .sec5box1img2{
        margin-left: 130px;
        width: 50px;
        background-color: white;
        transform: scale(0);
    }
    .sec5box2:hover .sec5box1img2{
        transform: scale(1);
    }

    .sec5box2p{
        margin-top: 50px;
    }
    .sec5box3 {
        width: 200px;
        height: 200px;
    }

    .sec5box1img3{
        margin-left: 130px;
        width: 50px;
        background-color: white;
        transform: scale(0);
    }
    .sec5box3:hover .sec5box1img3{
        transform: scale(1);
    }

    .sec5box3p{
        margin-top: 50px;
    }


    .sec5box4 {
        width: 200px;
        height: 200px;
    } 
    .sec5box1img4{
        margin-left: 130px;
        width: 50px;
        background-color: white;
        transform: scale(0);
    }
    .sec5box4:hover .sec5box1img4{
        transform: scale(1);
    }

    .sec5box4p{
        margin-top: 50px;
    }
    
    .sec5box5 {
        width: 200px;
        height: 200px;
    }  
    .sec5box1img5{
        margin-left: 130px;
        width: 50px;
        background-color: white;
        transform: scale(0);
    }
    .sec5box5:hover .sec5box1img5{
        transform: scale(1);
    }

    .sec5box5p{
        margin-top: 50px;
    }
    .sec5box6 {
        width: 200px;
        height: 200px;
    }
    .sec5box1img6{
        margin-left: 130px;
        width: 50px;
        background-color: white;
        transform: scale(0);
    }
    .sec5box6:hover .sec5box1img6{
        transform: scale(1);
    }

    .sec5box6p{
        margin-top: 50px;
    }
    .section6flex{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }
    .sec7maindiv{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 100px;
    }

    .sec7box1{
        width: 250px;
        height: 350px;
        margin-left: -50px;
    }
    .sec7box2{
        width: 250px;
        height: 350px;
        margin-left: -50px;
    }
    .sec7box3{
        width: 250px;
        height: 350px;
        margin-left: -50px;
    }
    .sec7box1 img{
        width: 250px;
        height: 350px;
    }
    .sec7box2 img{
        width: 250px;
        height: 350px;
    }
    
    .sec7box3 img{
        width: 250px;
        height: 350px;
    }


    .sec8maindiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sec8box5{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .sec8box5ul{
        margin-top: 20px;
        display: inline;
        margin-left: -383px;
        
         }



         .submaindiv2 h1 {
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        
         }
         .submaindiv2{
            margin-left: -80px;

         }
         .sec6box1{
            height: auto;
            width: auto;
         }
         .sec6box2{
            height: auto;
            width: auto;
         }
         .sec6box3{
            height: auto;
            width: auto;
         }
         .sec3maindiv1 input{
            width: auto;
         }
         .submaindiv2 p{
            font-size: 13px;
         }
         .sec2maindiv1 h1{
            font-size: 22px;
         }
         .sec2maindiv1 p{
            font-size: 12px;
         }



}










 





 
 
 
 
 
  
 